BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 2
UseTab: Never
SortIncludes: CaseSensitive
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
